<header class="page-header">
  <h1>Admin Dashboard</h1>
</header>
<div>
  <table class="table table-bordered table-responsive table-hover">
    <thead>
      <tr>
        <th scope="col">Info</th>
        <th scope="col">Quantity</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Category</td>
        <td><%= @category_count %></td>
      </tr>
      <tr>
        <td><a href="/admin/products">Products</a></td>
        <td><a href="/admin/products"><%= @products_count %></a></td>
      </tr>
    </tbody>
  </table>
</div>